:root {
    --main : #254336;
    --sec : #6B8A7A;
    --ter : #B7B597;
    --pro : #DAD3BE;
    --btn:#2E4374;
  
  }
.sidebar-section{
    display: flex;
    background-color: #000;
}
.sidebar{
    height: 100vh;
    background-color: #1e1e2c;
    width: 90px;
position: fixed;
}
.sidebar-toggle{
    width: 200px;
}
.sidebar-toggle-icons{
    display: flex;
    align-items: right;
    justify-content: right;
    cursor: pointer;
  
}
.sidebar-toggle-icons p svg{
    color: #ffff;
    background-color: var(--ter);
    margin-top: 30px;
}
/* responsive */
@media (max-width: 600px) {
    .sidebar {
      display: none;
    }
  }